In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [2]:
df = pd.read_csv("birlesmis_gyro_watch.txt")

In [3]:
df.head()

   Subject_id Activity_label      Time_stamp         x         y         z
0        1600              A  90426757696641  0.314944 -1.022277 -0.309962
1        1600              A  90426807196641  0.387382 -0.618541 -0.048972
2        1600              A  90426856696641  0.070999 -0.209480 -0.195978
3        1600              A  90426906196641  0.037975  0.254976 -0.156563
4        1600              A  90426955696641  0.073129  0.719431 -0.001035

In [4]:
df['x']=((df['x']-df['x'].min())/(df['x'].max()-df['x'].min()))  
df['y']=((df['y']-df['y'].min())/(df['y'].max()-df['y'].min()))   
df['z']=((df['z']-df['z'].min())/(df['z'].max()-df['z'].min()))

In [5]:
df.to_csv("birlesmis_gyro_s_watch.txt", index=False)

In [6]:
new_df = pd.read_csv("birlesmis_gyro_s_watch.txt")

In [7]:
low=0.01
high=0.99
new_df.quantile([low,high])

      Subject_id    Time_stamp         x         y         z
0.01      1600.0  3.280624e+12  0.425663  0.430248  0.561449
0.99      1650.0  2.722071e+15  0.568319  0.566072  0.736185

In [8]:
qdf=new_df.quantile([low,high])

In [9]:
new_df.isnull().sum()

Subject_id        0
Activity_label    0
Time_stamp        0
x                 0
y                 0
z                 0
dtype: int64

In [10]:
new_df.x=new_df.x.apply(lambda v: v if qdf.x[low]< v < qdf.x[high] else np.nan)

In [11]:
new_df.y=new_df.y.apply(lambda v: v if qdf.y[low]< v < qdf.y[high] else np.nan)

In [12]:
new_df.z=new_df.z.apply(lambda v: v if qdf.z[low]< v < qdf.z[high] else np.nan)

In [13]:
new_df.isnull().sum()

Subject_id            0
Activity_label        0
Time_stamp            0
x                 68808
y                 68808
z                 68808
dtype: int64

In [14]:
new_df.dropna(inplace=True)

In [15]:
new_df.isnull().sum()

Subject_id        0
Activity_label    0
Time_stamp        0
x                 0
y                 0
z                 0
dtype: int64

In [16]:
X = np.array(new_df.drop(['Activity_label'],axis=1))
y = np.array(new_df['Activity_label'])

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1,test_size=0.2)

In [18]:
clf = DecisionTreeClassifier()

In [19]:
clf = clf.fit(X_train,y_train)

In [20]:
y_pred = clf.predict(X_test)

In [21]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9850728934258381

In [22]:
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(accuracy_score(y_test, y_pred))

[[35118   301    93     6    15     2    14     4     4    12     5     3
     47    68    34     4    10    22]
 [  348 29182    50     8     6     3    13     7     3    10     1    11
     71    83    79     6    15    34]
 [   83    50 33965    22     7     8    38    25    31    22     6    11
     60    50    65    12    20    84]
 [    7    18    25 38848   161    21     4     6    13     9    18    10
     11    12     6    31    50    51]
 [    5    21     8   102 38362    46    10    13     7    11    25    10
      5     1     6    48    90    78]
 [    7     6     8    21    28 37263    33     4    15    15     7     8
      2     4     5    84    31    61]
 [    8    12    38    14     9    28 37528    21    30    17    22    26
     12     7     7    30    74   124]
 [    0    11    19     2     8     7    36 36996    39    71    50    38
     14     5     9     6     5    31]
 [    7     7    33     4    18     9    27    23 37997    59    46    78
      9     9    10    28    33    47]
 [    5     8    15     4     4     8    21    65    54 37439    19    48
      3     3     8    14     5    23]
 [    4     1    18    16    25    11    26    49    41    17 39096    55
      5     8    11    12    26    36]
 [    7    10    26     5     4    11    24    32    98    62    29 37297
      8    10    16    14    22    33]
 [   59    77    57    12     8     0     5    11    15     5     7    14
  35401   372   126     7    12    21]
 [   64    70    23    11     6     3    11     5    11     9    13    10
    436 29424   173     9    17    26]
 [   53    94    66     5     8     5     4     7     7     4    16     7
    200   179 27934     4    15    28]
 [   13     3     9    21    29    82    34    11    29    15    16    17
     14     5     7 39249    76    56]
 [   18    23    24    38    62    24    86    13    34    11    22    16
      8    23    18    48 37113   161]
 [   25    33    60    37    61    24    84    18    34    26    14    23
     36    25    33    41   101 36400]]
              precision    recall  f1-score   support

           A       0.98      0.98      0.98     35762
           B       0.98      0.98      0.98     29930
           C       0.98      0.98      0.98     34559
           D       0.99      0.99      0.99     39301
           E       0.99      0.99      0.99     38848
           F       0.99      0.99      0.99     37602
           G       0.99      0.99      0.99     38007
           H       0.99      0.99      0.99     37347
           I       0.99      0.99      0.99     38444
           J       0.99      0.99      0.99     37746
           K       0.99      0.99      0.99     39457
           L       0.99      0.99      0.99     37708
           M       0.97      0.98      0.98     36209
           O       0.97      0.97      0.97     30321
           P       0.98      0.98      0.98     28636
           Q       0.99      0.99      0.99     39686
           R       0.98      0.98      0.98     37742
           S       0.98      0.98      0.98     37075

    accuracy                           0.99    654380
   macro avg       0.98      0.98      0.98    654380
weighted avg       0.99      0.99      0.99    654380

0.9850728934258381